@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a asp-controller="Products" asp-action="Index">Product Search</a>.</p>
    <p>Learn about <a asp-controller="Companies" asp-action="Index">Company Search</a>.</p>
    <p>Learn about <a asp-controller="Departments" asp-action="Index">Department Search</a>.</p>
</div>
